torch
torchvision
tensorflow
pyzmq==23.2.0
numpy==1.22.4
PyYAML==6.0
termcolor==1.1.0
opencv-python==4.5.5.64
matplotlib==3.4.3
scikit-learn==1.0.2
scikit-image==0.19.3
gym==0.25.1
pyglet==1.5.26
duckietown-world-daffy==6.2.39
pipdeptree==2.2.1
typing_extensions==4.3.0
carnivalmirror==0.6.2
zuper-commons-z6==6.2.4
